Here Are All Of Your Posts, <%=current_user.username %>!</p>


<ol>
 <% @posts.each do |post| %>
  <li>
   <p><a href="/posts/<%=post.id%>"><%= post.content %></a></p>
  </li>
 <% end %>
</ol>

<p><a href='/logout'>Log Out </a></p>
