<h3>Here Are All Of Your Posts, <%=current_user.username %>!</h3>
<ol>
 <% @posts.each do |post| %>
  <li>
   <p><a href="/posts/<%=post.id%>"><%= post.content %></a></p>
  </li>
 <% end %>
</ol><br>


<h3>What Other Users Are Posting!</h3>
<ol>
  <% Post.all.each do |post| %>
    <li>
      <p><%= post.content %></p>
    </li>
  <% end %>
</ol>


<p><a href='/logout'>Log Out </a></p>
<p><a href='/'>Back to the main page </a></p>
